<style>

    .footer {
        position: fixed;
        bottom: 0px;
        height: 35px;
        color: black;
    }
</style>

<div class="footer">
    <footer> Copyright © Berk Türetken 2019</footer>
</div>
