
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:35%; padding:10px 50px;">
    <h2> Kullanıcı Ekleme Sayfası </h2>
</div>

<div style="margin-left:11%; padding-top: 50px;">
    <h5> Kullanıcı Ekle </h5>
    <div class="col-md-2">
        <br />
        <a class="btn btn-primary" href="/Home/New"> Add New Profile </a>
    </div>
</div>



